esphome:
  name: iec-energy-reader
  # Thay thế bằng bo mạch M5Stack-ATOM
  platform: ESP32
  board: m5stack_atom

# Cấu hình Wi-Fi và API
wifi:
  ssid: "LEFA"
  password: "Lefa@2020"
  
  ap:
    ssid: "IEC Reader Fallback"
    password: "iecreaderpassword"

api:
  services:

ota:

logger:
  baud_rate: 115500

# Khai báo Custom Component, kéo từ GitHub
external_components:
  - source: 
      type: git
      # *** THAY THẾ DÒNG NÀY BẰNG LINK GITHUB CỦA BẠN ***
      url: https://github.com/user_name/repo_name.git 
      ref: main
    # Tên thư mục chứa file .h trong kho Git
    components: [iec_reader_component] 
  
## --- CÁC CẢM BIẾN SỐ (VOLTAGE, CURRENT, ENERGY) ---
sensor:
  - platform: custom
    # Lambda gọi Custom Component Class
    lambda: |-
      auto iec_sensor = new IECReaderComponent();
      App.register_component(iec_sensor);
      return {iec_sensor->voltage_sensor, iec_sensor->current_sensor, iec_sensor->energy_sensor};

    sensors:
      - name: "IEC Voltage"
        unit_of_measurement: "V"
        accuracy_decimals: 2
        id: iec_voltage_sensor
      - name: "IEC Current"
        unit_of_measurement: "A"
        accuracy_decimals: 2
        id: iec_current_sensor
      - name: "IEC Energy Total"
        unit_of_measurement: "kWh"
        accuracy_decimals: 2
        id: iec_energy_sensor

## --- CÁC CẢM BIẾN VĂN BẢN (ID, TIME) ---
text_sensor:
  - platform: custom
    # Lambda gọi Custom Component Class (Phải tạo lại instance của class)
    lambda: |-
      auto iec_sensor = new IECReaderComponent();
      App.register_component(iec_sensor);
      return {iec_sensor->meter_id_sensor, iec_sensor->meter_time_sensor};

    text_sensors:
      - name: "IEC Meter ID"
        id: iec_meter_id_sensor
      - name: "IEC Meter Time"
        id: iec_meter_time_sensor
